[class*="__container"] {
    max-width: 1160px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

/*input[type=text]:not(.browser-default) {
    border: 1px solid black;
    height: 2rem;
    width: 7rem;
}*/

#arrays-simple__data {
    border: 1px solid black;
    height: 2rem;
    width: 7rem;
}

.arrays__practice {
    display: flex;
}

[id*="arrays__input"] {
    display: flex;
}

.arrays-code {
    color: #383a42;
    background: #fafafa;
}

.arrays-code__let {
    margin: 0;
}

.arrays-div__input {
    display: flex;
}